@font-face {
    font-family: "Suit";
    src: url('fonts/SUIT-Medium.ttf') url('fonts/SUIT-Regular.ttf') url('fonts/SUIT-SemiBold.ttf') url('fonts/SUIT-Thin.ttf') url('fonts/SUIT-Bold.ttf') url('fonts/SUIT-ExtraBold.ttf') url('fonts/SUIT-ExtraLight.ttf') url('fonts/SUIT-Heavy.ttf') url('fonts/SUIT-Light.ttf');
}

:root {
    font-family: "Suit", sans-serif;
    font-optical-sizing: auto;
    font-size: 14pt;
}

body {
    background: url('/images/ui/background.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    line-height: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.grow {
    flex: 1;
}