@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 14pt;
}

body {
    background: url('/images/background.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    line-height: 1;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.grow {
    flex: 1;
}